html,
#root {
  height: 100%;
}

@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url(fonts/Epilogue.ttf) format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
